altgraph==0.17
auto-py-to-exe==2.7.11
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.0
cffi==1.14.4
Cython==0.29.21
Eel==0.12.4
future==0.18.2
gevent==20.12.1
gevent-websocket==0.10.1
GPUtil==1.4.0
greenlet==0.4.17
gunicorn==20.0.4
pefile==2019.4.18
psutil==5.8.0
py-cpuinfo==7.0.0
py2exe==0.10.1.0
pycparser==2.20
pygame==2.0.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pyreadline==2.1
pywin32-ctypes==0.2.0
system-info==2.0.0
tabulate==0.8.7
whichcraft==0.6.1
whitenoise==5.2.0
zope.event==4.5.0
zope.interface==5.2.0
