{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block bodywrap %}

    <div class="container-fluid register-wrapper">
                <div class="container-fluid register-container">
                    <div class="container-fluid register-title">
                        Register:
                    </div>
                    <div class="container-fluid register-form-container">

                        <div class="container-fluid register-form">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" name='Login'>Login</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

{% endblock %}